<p>Select flavor:</p>
<div class="d-flex flex-wrap align-items-center btn-group">
    <button *ngFor="let flavor of objectKeys(product.multiFlavors) ; let i = index" (click)="toggleFlavor(flavor)" class="btn btn-outline-custom-purple btn-md rounded-0" [ngClass]="{ 'active': isActiveFlavor(flavor) && !product.allowMultiple }">
        {{flavor}}
        <!-- <i *ngIf="product.allowMultiple" class="fa fa-plus ml-2" aria-hidden="true"></i> -->
    </button>
</div>
<div *ngIf="currentSelectedFlavors.length > 0">
    <p>Select filling:</p>
    <div class="d-flex flex-wrap align-items-center btn-group">
        <button *ngFor="let filling of product.multiFlavors[currentSelectedFlavors[0]] ; let i = index" (click)="toggleFilling(filling)" class="btn btn-outline-custom-purple btn-md rounded-0" [ngClass]="{ 'active': isActiveFilling(filling) && !product.allowMultiple }">
            {{filling}}
            <!-- <i *ngIf="product.allowMultiple" class="fa fa-plus ml-2" aria-hidden="true"></i> -->
        </button>
    </div>
</div>
