<div class="row no-gutters border">
    <div class="col-xs-12 col-md-3 my-auto">
        <img [src]="product.imageUrls[0]" class="img-fluid w-100"/>
    </div>
    <div class="col-xs-12 col-md-9 my-3">
        <div class="d-flex flex-column h-100 container-fluid">
            <div class="product-content-container">
                <div class="d-flex flex-wrap align-items-center mb-2">
                    <h5 class="mb-0">{{product.name}}</h5>
                    <button (click)="addToCart(product)" type="button" class="btn btn-outline-custom-purple btn-sm ml-auto" [disabled]="!_.isEqual(this.getRemainingFlavorsCount(), 0)">
                        <span class="mr-2">Add To Cart</span>
                        <span>
                            <i class="fas fa-cart-plus"></i>
                        </span>
                    </button>
                </div>
                <p>{{product.description}}</p>
            </div>
            <div class="mt-auto">
                <div class="d-flex flex-wrap align-items-center btn-group mb-2">
                    <button *ngFor="let variation of product.variations; let i = index" (click)="updateSelectedOption(i)" class="btn btn-outline-custom-purple btn-sm" [ngClass]="{'active': i === selectedOptionIndex }">
                        {{variation.batchSize}} for {{variation.price |  currency:'USD':'symbol':'1.0'}}
                    </button>
                </div>
                <div class="mb-2">
                    <div class="d-flex flex-wrap align-items-center btn-group">
                        <div class="mr-2">
                            Pick {{getRemainingFlavorsCount()}}
                        </div>
                        <button *ngFor="let flavor of product.flavors; let i = index" (click)="toggleFlavor(flavor)" class="btn btn-outline-custom-purple btn-sm" [ngClass]="{'active': isActiveFlavor(flavor) }" [disabled]="isDisabledFlavor(flavor)">
                            {{flavor}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>