<section>
    <p>This date picker has validations minDate: {{minDaysFromToday}} days from today and maxDate: {{maxDaysFromToday}} days
        from today</p>
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <input #datepicker class="form-control" placeholder="yyyy-mm-dd" name="dp"
                [(ngModel)]="date" (ngModelChange)="dateChangeEmitter.emit($event)" [minDate]="datePickerMinDate" [maxDate]="datePickerMaxDate" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</section>
