<section>
    <div class="responsive-google-calendar mb-4">
        <iframe src="https://calendar.google.com/calendar/b/1/embed?height=600&amp;wkst=1&amp;bgcolor=%23a497e4&amp;ctz=America%2FLos_Angeles&amp;src=amVubmllc2dvb2RpZXMxOTk0QGdtYWlsLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%2333B679&amp;color=%230B8043"
        style="border:solid 1px #777" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="form-row">
        <div class="form-group col-md-5 my-auto">
            <app-date-picker [date]="orderForm.date" (dateChangeEmitter)="orderForm.date = $event"></app-date-picker>
        </div>
        <div class="form-group col-md-5 my-auto">
            <app-time-picker [time]="orderForm.time" (timeChangeEmitter)="orderForm.time = $event"></app-time-picker>
        </div>
        <div class="form-group col-md-2 my-auto">
            <button type="button" class="mt-1 btn btn-block" [ngClass]="{'btn-outline-primary': !isDateTimePickerDisabled(), 'btn-dark': isDateTimePickerDisabled()}"
                [disabled]="isDateTimePickerDisabled()" (click)="validateDateTimePicker()">Validate</button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Name</label>
            <input [(ngModel)]="orderForm.name" type="text" class="form-control" id="inputName" placeholder="Enter your name (i.e. John Doe)">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input [(ngModel)]="orderForm.email" type="email" class="form-control" id="inputEmail" placeholder="Enter your email (i.e. johndoe@example.com)">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPhoneNumber">Phone Number</label>
            <input [(ngModel)]="orderForm.phoneNumber" type="text" class="form-control" id="inputPhoneNumber" placeholder="Enter your phone number (i.e. 206-123-4567)">
        </div>
        <div class="form-group col-md-6">
            <label for="inputIsDelivery">Order Type</label>
            <div class="btn-group btn-block btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="orderForm.isDelivery">
                <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="true" (click)="orderForm.address = undefined"> Delivery
                </label>
                <label ngbButtonLabel class="btn-outline-primary">
                    <input ngbButton type="radio" [value]="false" (click)="orderForm.address = undefined"> Pick Up
                </label>
            </div>
        </div>
    </div>
    <div class="form-group" *ngIf="orderForm.isDelivery">
        <label for="inputAddress">Address</label>
        <input [(ngModel)]="orderForm.address" type="text" class="form-control" id="inputAddress" placeholder="Enter your address (i.e. 1234 Main St Seattle, WA 98125)">
    </div>
    <div class="form-group">
        <label for="inputNotes">Notes</label>
        <textarea [(ngModel)]="orderForm.notes" class="form-control" id="inputNotes" rows="3"></textarea>
    </div>
    <div>
        <p *ngIf="orderForm.orders.length === 0" class="pr-1 pl-1">No orders</p>
        <ul class="list-group border-0">
            <li class="list-group-item no-border pt-0 pb-0 pr-1 pl-1" *ngFor="let order of orderForm.orders; let index = index;">
                <p class="mb-1">
                    {{order.qty}} {{order.name}} - {{order.price | currency}}
                    <i class="fa fa-times-circle text-danger" aria-hidden="true" (click)="orderService.removeFromOrders(index)"></i>
                </p>
            </li>
        </ul>
        <hr class="mt-1" />
        <div class="mb-1" *ngIf="totalPrice > 0">
            <span>Total: {{totalPrice | currency}}</span>
        </div>
    </div>
    <pre>{{orderForm | json}}</pre>
    <button type="button" class="mt-1 btn btn-sm btn-block" [ngClass]="{'btn-outline-primary': !isOrderFormDisabled(), 'btn-dark': isOrderFormDisabled()}"
        [disabled]="isOrderFormDisabled()" (click)="submit()">Place Order</button>
</section>