.responsive-google-calendar {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.responsive-google-calendar iframe {
    position: absolute;
    height: 100%;
    width: 10px !important;
    min-width: 100%;
}