<section>
    <p>This time picker has validation minTime: {{minTime | json}} and maxTime: {{maxTime | json}}</p>
    <div class="form-group">
        <ngb-timepicker [(ngModel)]="timePickerModel" [formControl]="timePickerFormControl" [meridian]="timePickerMeridian" [seconds]="timePickerSeconds"
            [hourStep]="timePickerHourStep" [minuteStep]="timePickerMinuteStep" [secondStep]="timePickerSecondStep" required>
        </ngb-timepicker>
        <div *ngIf="timePickerFormControl.valid" class="small form-text text-success">Great choice</div>
        <div *ngIf="timePickerFormControl.errors" class="small form-text text-danger">
            <div *ngIf="timePickerFormControl.errors['required']">Select some time during lunchtime</div>
            <div *ngIf="timePickerFormControl.errors['tooLate']">Oh no, it's way too late</div>
            <div *ngIf="timePickerFormControl.errors['tooEarly']">It's a bit too early</div>
        </div>
    </div>

    <hr>
    <pre>Selected time: {{timePickerFormControl.value | json}}</pre>
</section>
