
<main class="row no-gutters my-5">
    <!-- <div class="col-12">
        <app-edit-button [collection]="'products'" [isNew]="true" [inputsConfig]="inputsConfig"></app-edit-button>
    </div> -->
    <div class="col-12 mt-4" *ngIf="!_.isEmpty(banner)">
        <div class="text-center bg-custom-vanilla py-2 font-weight-bold container-fluid">{{banner}}</div>
    </div>
    <ng-container *ngIf="products.length">
        <div class="my-2 mb-md-0 d-block d-lg-none quick-link-section">
                <span class="ml-2 mr-2 mb-2 font-weight-bold">Quick Links:</span>
                <div class="pl-2 pr-2 pt-2 quick-link-container">
                    <span *ngFor="let product of products">
                        <span class="badge mr-2 p-2 mb-3 quick-link-badge" (click)="scroll(product)" >{{product.name}}</span>
                    </span>
                </div>
        </div>
        <div class="col-xs-12 col-xl-6" *ngFor="let product of products">
            <app-product [product]="product"></app-product>
        </div>
    </ng-container>
</main>