<footer class="pt-4 mt-md-5 pt-md-5 border-top container-fluid bg-custom-primary">
    <div class="row">
        <div class="col-12 col-md">
        <a [routerLink]="['']" [title]="globalConstants.companyName">
            <img
                class="mb-2"
                width="24" height="24"
                alt="{{globalConstants.companyName + ' Logo'}}"
                [src]="globalConstants.companyLogo"
            />
        </a>
        <small class="d-block mb-3 text-dark">&copy; 2020 {{globalConstants.companyName}}. All rights reserved.</small>
        </div>
        <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-dark" href="#">Cool stuff</a></li>
            <li><a class="text-dark" href="#">Random feature</a></li>
            <li><a class="text-dark" href="#">Team feature</a></li>
            <li><a class="text-dark" href="#">Stuff for developers</a></li>
            <li><a class="text-dark" href="#">Another one</a></li>
            <li><a class="text-dark" href="#">Last time</a></li>
        </ul>
        </div>
        <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-dark" href="#">Resource</a></li>
            <li><a class="text-dark" href="#">Resource name</a></li>
            <li><a class="text-dark" href="#">Another resource</a></li>
            <li><a class="text-dark" href="#">Final resource</a></li>
        </ul>
        </div>
        <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-dark" href="#">Team</a></li>
            <li><a class="text-dark" href="#">Locations</a></li>
            <li><a class="text-dark" href="#">Privacy</a></li>
            <li><a class="text-dark" href="#">Terms</a></li>
        </ul>
        </div>
    </div>
</footer>