<footer class="text-dark bg-custom-purple">
    <section class="container border-muted d-flex flex-wrap justify-content-center align-items-center py-4">
        <a class="mx-3 my-4 text-dark" [title]="item.title" [href]="item.url" target="__blank" rel="noopener noreferrer" *ngFor="let item of socialMedia">
            <i [class]="item.iconClass" aria-hidden="true" [title]="item.title"></i>
        </a>
    </section>
    <hr class="border-secondary my-0"/>
    <section class="container border-muted d-flex flex-wrap justify-content-center align-items-center p-4">
        <a class="mx-3 my-4 text-dark" [title]="item.title" [href]="item.url" rel="noopener noreferrer" *ngFor="let item of links">
            {{item.title}}
        </a>
    </section>
    <section class="text-center pb-4">
        <p class="text-dark mb-4">&copy; 2020 {{globalConstants.company.name}}. All rights reserved.</p>
    </section>
</footer>