<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order Form</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissCartModal('Cross click')">
        <i class="fa fa-times-circle text-custom-purple cursor-pointer" aria-hidden="true"></i>
    </button>
</div>
<div class="modal-body">
    <p *ngIf="!orderForm.orders.length" class="text-center font-weight-bold my-5">You have not selected any items. <span class="text-custom-purple cursor-pointer" (click)="dismissCartModal()">Go back to menu</span></p>
    <ng-container *ngIf="orderForm.orders.length">
        <section class="orderForm.orders.length">
            <h5>Items</h5>
            <div class="d-flex flex-wrap align-items-center my-4" *ngFor="let order of orderForm.orders; let index = index;">
                <div class="order-quantity mr-4">
                    <input [(ngModel)]="order.quantity" (ngModelChange)="updateFromCart(order, index)" onkeydown="return false" min="1" oninput="validity.valid || (value = 1)" type="number" class="form-control form-control-sm" id="inputQuantity" placeholder="Enter Quantity">
                </div>
                <div>
                    {{order.name}} ({{_.toString(order.selectedFlavors)}}) - {{order.batchSize}} for {{order.price | currency:'USD':'symbol':'1.0'}}
                </div>
                <div class="ml-auto">
                    <i class="fa fa-times-circle text-custom-purple cursor-pointer" aria-hidden="true" (click)="removeFromCart(order, index)"></i>
                </div>
            </div>
            <div class="mb-1" *ngIf="totalPrice > 0">
                <span>Total: {{totalPrice | currency:'USD':'symbol':'1.0'}}</span>
            </div>
        </section>
        <hr/>
        <section class="order-form">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name</label>
                    <input [(ngModel)]="orderForm.name" type="text" class="form-control" id="inputName" placeholder="Enter your name (i.e. John Doe)">
                </div>
                <div class="form-group col-md-6">
                    <label fogitr="inputEmail">Email</label>
                    <input [(ngModel)]="orderForm.email" type="email" class="form-control" id="inputEmail" placeholder="Enter your email (i.e. johndoe@example.com)">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPhoneNumber">Phone Number</label>
                    <input [(ngModel)]="orderForm.phoneNumber" type="text" class="form-control" id="inputPhoneNumber" placeholder="Enter your phone number (i.e. 206-123-4567)">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputIsDelivery">Service Type</label>
                    <div class="btn-group btn-block btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="orderForm.isDelivery">
                        <label ngbButtonLabel class="btn-outline-custom-purple">
                            <input ngbButton type="radio" [value]="true" (click)="orderForm.address = undefined"> Delivery
                        </label>
                        <label ngbButtonLabel class="btn-outline-custom-purple">
                            <input ngbButton type="radio" [value]="false" (click)="orderForm.address = _.cloneDeep(DEFAULT_PICKUP_ADDRESS)"> Pick Up
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">{{orderForm.isDelivery ? 'Delivery' : 'Pick Up'}} Address</label>
                <input [ngClass]="{'border border-danger': formControls.deliveryForm['addressError'] || formControls.deliveryForm['tooFarError'] || formControls.deliveryForm['calcDistanceError']}" [(ngModel)]="orderForm.address" type="text" class="form-control" id="inputAddress" placeholder="Enter your address (i.e. 1234 Main St Seattle, WA 98125)" [disabled]="!orderForm.isDelivery">
            </div>
            <div class="form-group">
                <label for="inputNotes">Notes</label>
                <textarea [(ngModel)]="orderForm.notes" class="form-control" id="inputNotes" rows="3"></textarea>
            </div>
        </section>
        <hr/>
        <section class="date-time-picker">
            <h5>Delivery / Pick Up Scheduler</h5>
            <div class="responsive-google-calendar my-4">
                <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;ctz=America%2FLos_Angeles&amp;src=amVubmllc2dvb2RpZXMxOTk0QGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=1&amp;mode=WEEK&amp;showTitle=0&amp;title=Jennie&#39;s%20Goodies" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            </div>
            <p class="small font-weight-bold">
                We currently deliver anytime on Friday-Sunday and after 5pm Monday-Thursday.
            </p>
            <div class="form-row mb-4" [ngClass]="{'border border-danger': formControls.dateTimePicker['tooLate'] || formControls.dateTimePicker['tooEarly']}">
                <div class="form-group col-md-6 my-auto">
                    <app-date-picker [date]="orderForm.date" (dateChangeEmitter)="orderForm.date = $event"></app-date-picker>
                </div>
                <div class="form-group col-md-6 my-auto">
                    <app-time-picker [time]="orderForm.time" (timeChangeEmitter)="orderForm.time = $event"></app-time-picker>
                </div>
                <div class="form-group col-md-12 my-auto">
                    <div *ngIf="formControls.dateTimePicker" class="small text-center form-text text-danger my-3">
                        <div *ngIf="formControls.dateTimePicker['tooLate']">Oh no, it's way too late</div>
                        <div *ngIf="formControls.dateTimePicker['tooEarly']">It's a bit too early</div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <hr/>
        <pre class="mt-2">{{orderForm | json}}</pre> -->
    </ng-container>
</div>
<div class="modal-footer" *ngIf="orderForm.orders.length">
    <button type="button" class="btn btn-block" [ngClass]="{'btn-outline-custom-purple': !isOrderFormDisabled(), 'btn-dark': isOrderFormDisabled()}"
        [disabled]="isOrderFormDisabled()" (click)="submit()">
        Place Order
        <span *ngIf="orderForm.orders.length">
            ({{orderForm.orders.length}} Item<span *ngIf="orderForm.orders.length > 1">s</span>)
        </span>
    </button>
</div>
