.cart {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 5px;
}
.order-container {
    margin-top: 100px;
}

.no-border {
    border: none;
}

.item-summary {
    min-height: 50px;
}