@import '~bootstrap/scss/functions';
@import "~bootstrap/scss/variables";
$theme-colors: (
    'custom-purple': #A497E4,
    'custom-vanilla': #FAF3DD
);

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.min-height-100vh {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}

.text-decoration-none {
    text-decoration: none;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .modal-100 {
        .modal-dialog {
            max-width: unset;
            margin: unset;
            .modal-content {
                border: unset;
                border-radius: unset;
                min-height: 100vh;
            }
        }
    }
}

.autocomplete-container {
    border: 1px solid #ced4da;
    box-shadow: none !important;
    border-radius: 5px;
    height: 100% !important;
}

.ng-autocomplete {
    width: 100% !important;
}

/* Custom ngx-quill */
quill-view-html .ql-container {
    font-size: unset;
    height: unset;
    .ql-editor {
        padding: 0;
        width: 100%;
    }
    .ql-editor img  {
        width: 100%;
        max-width: 90%;
        height: auto;
    }
}

quill-editor .ql-toolbar {
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

label {
    font-weight: bold;
}

.carousel-indicators {
    bottom: -50px;
    li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        background-color: theme-color('custom-purple');
    }
}