/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.text-custom-primary {
    color: #A497E4 !important;
}

.bg-custom-primary {
    background: #A497E4 !important;
}

.min-height-100vh {
    min-height: 100vh;
}

.cursor-pointer {
    cursor: pointer;
}

.text-underline {
    text-decoration: underline;
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .modal-100 {
        .modal-dialog {
            max-width: unset;
            margin: unset;
            .modal-content {
                border: unset;
                border-radius: unset;
                min-height: 100vh;
            }
        }
    }
}
