<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom box-shadow bg-custom-primary sticky-top">
    <a [routerLink]="['']" [title]="globalConstants.companyName" class="my-0 mr-md-auto font-weight-normal text-dark">
        <img
            width="40"
            alt="{{globalConstants.companyName + ' Logo'}}"
            [src]="globalConstants.companyLogo"
        />
        {{globalConstants.companyName}}
    </a>
    <app-cart-button></app-cart-button>
</div>
